<h1>Contact Us</h1>
<form method="post" action="/contact_us/submit">
	Name: <input type="text" name="name"><br />
	Email: <input type="text" name="email"><br />
	Question/Comment: <input type="text" name="body"><br />
	<input type="submit" value="send">
</form>